body {
  background-color: #dae5d5;
}

body {
  height: 100vh;
  margin: 0;
}

/* Section header CSS Start */
.bg-dark-head {
  background: linear-gradient(#343a40, transparent);
}

header {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  display: flex;
  color: #FEFAE0;
  transition: 0.6s ease;
}

#first {
  color: #FEFAE0;
  transition: 0.6s ease;
}

#second {
  color: #FEFAE0;
  border-bottom: transparent;
  transition: 0.6s ease;
}

#third {
  color: #FEFAE0;
  border-bottom: transparent;
  transition: 0.6s ease;
}

a.navbar-brand:hover #first {
  color: #41bc41;
}

a.navbar-brand:hover #second {
  color: #FEFAE0;
  transform: rotateZ(-30deg) !important;
}

a.navbar-brand:hover #third {
  color: #6e5033;
  border-bottom: #6e5033 solid 2px;
}

li.nav-item #active {
  color: #FEFAE0;
  transition: 0.6s ease;
}

li.nav-item {
  transition: 0.6s ease;
}

li.nav-item:hover {
  color: #FEFAE0;
}
/* Section header CSS Ends */

section {
  background-color: #82937b;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.txt-Paige {
  color: #FEFAE0;
}

.line-Brown {
  border: #6e5033 solid 1.7px;
  width: 60px;
  margin-top: -5px;
}

.txt-Dark-Green {
  color: #82937b;
}

h1,
h2 {
  text-align: center;
  color: #FEFAE0;
}

p {
  color: #FEFAE0;
  text-align: center;
  font-size: 18px;
}

.about-item {
  background: #D2E2C6;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.about-1:hover p {
  visibility: visible;
  opacity: 1;
  background-color: #FEFAE0;
} 

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: #6e5033;
}

.about-item:hover hr {
  background-color: #fff;
}

.about-item:hover i {
  transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  transition:all 400ms ease-in-out;
}

.about-item p {
  color: #555555;
}

.about-item:last-child {
  border-right: none;
}

.icons {
  color: #6e5033;
  font-size: 40px;
}

.icons i {
  margin-bottom: 10px;
}

.icons i::before {
  margin-right: 10px;
}

.social-link {
  color: #FEFAE0;
  font-size: 20px;
  margin-right: 10px;
}

.social-link:hover i {
  transform: translateY(-10px);
  color: #6e5033;
}


footer {
  background-color: #343a40;
  color: #fff;
}