body {
  /* background: #d2e2c6; */
  margin: 0;
  padding: 0;
  background-image: url(https://img.freepik.com/premium-photo/blur-park-tree-nature-green-lawn-background-garden-summer-outdoor_109549-76.jpg);
  background-size: cover;
  background-position: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* Section header CSS Start */
.bg-dark-head {
  background: linear-gradient(#343a40, transparent);
}

header {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  display: flex;
  color: #FEFAE0;
  transition: 0.6s ease;
}

#first {
  color: #FEFAE0;
  transition: 0.6s ease;
}

#second {
  color: #FEFAE0;
  border-bottom: transparent;
  transition: 0.6s ease;
}

#third {
  color: #FEFAE0;
  border-bottom: transparent;
  transition: 0.6s ease;
}

a.navbar-brand:hover #first {
  color: #41bc41;
}

a.navbar-brand:hover #second {
  color: #FEFAE0;
  transform: rotateZ(-30deg) !important;
}

a.navbar-brand:hover #third {
  color: #6e5033;
  border-bottom: #6e5033 solid 2px;
}

li.nav-item #active {
  color: #FEFAE0;
  border-bottom: #FEFAE0;
  transition: 0.6s ease;
}

li.nav-item {
  transition: 0.6s ease;
}

li.nav-item:hover {
  color: #FEFAE0;
}
/* Section header CSS Ends */

/* Section add CSS Starts */
.txt-Dark-Green {
  color: #3d4624;
  font-weight: 500;
}

.txt-center {
  text-align: center;
}

.line-Brown {
  border: #38302b solid 1.7px;
  width: 60px;
  margin-top: -5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.add-planet {
  max-width: 600px;
  width: 100%;
  margin: 10px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #FEFAE0;
  font-weight: 600;
}

.form-control {
  color: #495057;
  background-color: #FEFAE0;
  border: 1px solid #FEFAFE;
}

.form-control-file, .form-control-range {
  display: block;
  width: 100%;
  color: #FEFAE0;
  /* font-weight: 600; */
}

.btn-primary {
  color: #FEFAE0;
  font-weight: 600;
  background-color: #38302b;
  border-color: #38302b;
}

.btn-primary:hover {
  color: #FEFAE0;
  background-color: #3d4624;
  border-color: #3d4624;
}
/* Section add CSS Ends */

footer {
  margin-top: 10px;
  background-color: #ccd5ae;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
